.firstLevel{
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

.firstLevelActive,
.firstLevel:hover{
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg{
    fill: var(--primary);
}

.secondLevel{
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--gray-dark);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.secondBlock{
    margin-top: 20px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #b8b8b8;
}

.secondLevelBlock{
    overflow: hidden;
}

.thirdLevel{
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gray-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.thirdLevelActive, .thirdLevel:hover{
    color: var(--primary);
}
